# Node dependencies
node_modules/

# Production build
dist/

# Environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE files (optional)
.vscode/
.DS_Store
